    <div class="container my-3" >
        <div>
            <h1 class="mb-3">All Employees 
                <button class="btn btn-primary" routerLink="/employees/add">+ Add</button>
            </h1>
            
        </div>
    <h2 *ngIf="employees.length<=0">No Employees found!!</h2>
    <table class="table" *ngIf="employees.length > 0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Date Of Birth</th>
                <th>Actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.phone}}</td>
                <td>{{employee.dateOfBirth}}</td>
                <td><button class="btn btn-primary" [routerLink]="['/employees','update',employee.id]">View</button></td>
                <td><button class="btn btn-primary btn-danger" (click)="deleteEmployee(employee.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>

    </div>
